* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
}

html, body{
    width: 100%;
    height: 100%;
}
#cursor{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: yellowgreen;
    position: fixed;
    z-index: 99;
}
#cursor-blur{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: rgba(153, 205, 50, 0.245);
    position: fixed;
    filter: blur(30px);
    z-index: 9;
}
nav{
    
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 99;

    gap: 50px;
}

nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
    font-weight: 100px;
    text-transform: uppercase;
}
nav ul li:hover{
   cursor: pointer;
   font-size: large;
   font-weight: bold;
   transition: all linear 0.3s;
}

#logo{
    width: 250px;
    height: 100px;
}
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    
    z-index: -1;
}
main{
    position: relative;
    background-color: rgba(0,0,0,0.37);
}
.page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}
.page1 h1{
    font-size: 80px;
    font-weight: 900;
    position: relative;
}

.page1 h1::before{
    content: "LET'S ROCK LIFE WITH MUSIC";
    position: absolute;
    color: rgb(59, 151, 226);
    top: -6px;
    left: -6px;
    -webkit-text-stroke: 2px greenyellow;
    z-index: -1;
}
.page1 h2{
    font-size: 25px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}
.page1 p{
    width: 35%;
}
.page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}
.scroller{
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 10;
    position: relative;
}
.scroller::-webkit-scrollbar{
    display: none;
}

.scroller .scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation: scroll 30s linear infinite ;
}
.scroller h1{
    display: inline-block;
    font-size: 120px;
    font-weight: 900;
    font-family: gilroy;
    margin-right: 10px;
    -webkit-text-stroke: 2px greenyellow;
    color: transparent;
    transition: all linear 0.5s;
}
.scroller h1:hover{
    color: yellowgreen;
}
@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.about{
    height: 40vh;
    width: 100%;
    display: flex;
    padding: 0 50px;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 10;
}
.about img{
    height: 200px;
    width: 250px;
    border: 2px solid greenyellow;
    border-radius: 20px;
    z-index: 10;
}
#aboutUs{
    text-align: center;
}
#aboutUs h3{
    font-size: 54px;
    font-weight: 800;
    margin-bottom: 40px;
    z-index: 10;
}
#aboutUs p{
    font-size: 20px;
    line-height: 26px;
    z-index: 10;
}
.card-container{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.card{
    height: 80%;
    width: 24%;
    border: 2px solid yellowgreen;
    border-radius: 20px;
    background-size: 100%;
    background-position: center;
    position: relative;
    z-index: 10;
    overflow: hidden;
}
.card:hover{
    background-size: 120%;
    transition: all linear 0.5s;
}
#card1{
    background-image: url(Dance.JPG);
}
#card2{
    background-image: url(Music.JPG);
}
#card3{
    background-image: url(Drama.JPG);
}
.overlay{
 width: 100%;
 height: 100%;
 padding: 30px;
 padding-top: 120px;
 background-color: rgba(153, 205, 50, 0.786); 
 opacity: 0; 
}
.overlay h4{
    color: black;
    font-size: 40px;
    text-transform: uppercase;
    white-space:nowrap;
    margin-bottom: 20px;
    font-weight: 800;
    padding-left: 25%;
}
.overlay p{
    color: black;
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
}
.overlay:hover{
    opacity: 100;
    transition: all ease 0.5s;
    transition-delay: 0.2s;
}
#hording{
    height: 50vh;
    background-image: url(All.jpg);
    background-size: 100%;
    background-position: center;
    z-index: 10;
}
.overlap{
    width: 100%;
    height: 100%;
    background:linear-gradient(to left bottom, rgba(42, 225, 42, 0.5),rgba(255, 255, 0, 0.5));
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.overlap img{
    height: 100%;
    width: 14%;
    object-fit: cover;
    z-index: 10;
}
.overlap h4{
    color: black;
    text-align: center;
    font-size: 30px;
    width: 600px;
    font-weight: 800;
    z-index: 10;
}
.page3{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
}
.page3>p{
    font-size:30px ;
    font-weight: 700;
    width: 60%;
    text-align: center;
    line-height: 45px;
}
.page3 img{
    position: absolute;
    height: 60px;
}
.page3 #colon1{
    left: 15%;
    top:25%;
}
.page3 #colon2{
    bottom:30%;
    right:15%;
}

.leaders{
    width: 100%;
    height: 40vh;
    background:linear-gradient(to left bottom, yellowgreen,greenyellow);
    position: relative;
    overflow: hidden;
}
.leaders img{
    width: 450px;
    height: 200px;
    position: absolute;
    margin-top: 90px;
    z-index: 10;
}
.leaders h4{
    font-weight: 900;
    color: black;
    font-size: 30px;
    text-align: center;
    margin-right: 100px;
    z-index: 10;
}
.content{
    padding-top: 100px;
    line-height: 50px;
}
.members1{
    background-image: url(Tanmoy.JPG);
    background-size: cover;
    width: 200px;
    height: 250px;
    position: absolute;
    bottom: 15%;
    left: 24%; 
    border: 2px solid black;
    border-radius: 20px;
    z-index: 10;
}
.members1 h4{
    color: wheat;
    -webkit-text-stroke: 2px black;
    text-align: center;
    font-size: 25px;
    position: absolute;
    top: 170px;
    left: 25px;
}
.members2{
    background-image: url(Salini.JPG);
    background-size: cover;
    width: 200px;
    height: 250px;
    position: absolute;
    bottom: 15%;
    left: 62%;
    border: 2px solid black;
    border-radius: 20px;
    z-index: 10;
}
.members2 h4{
    color: wheat;
    -webkit-text-stroke: 2px black;
    text-align: center;
    font-size: 25px;
    position: absolute;
    top: 170px;
    left:60px;
}
#log{
    left: 73%;
    bottom: 20%;
    z-index: 10;
}
.pre{
    color: black;
    font-weight: 800;
    position: absolute;
    top: 87%;
    left: 24%;
    z-index: 10;
}
.wise{
    color: black;
    font-weight: 800;
    position: absolute;
    left: 61%;
    top: 87%;
    z-index: 10;
}
.reg{
   width:100%;
    display: flex;
    justify-content: center;
    font-size: 90px;
    font-weight: 900;
    position: relative;
    bottom: -50px;
    -webkit-text-stroke:2px white;
    color: transparent;
    font-family: gilroy;
}
#lastdot{
    width: 180px;
    height: 100%;
    position: absolute;
    bottom: 15px;
    left: 50px;
}
.page4{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.page4 #mem{
    height: 50%;
    width: 20%;
    
    border: 2px solid greenyellow;
    border-radius: 20px;
    overflow: hidden;
    z-index: 10;
}
.page4 .mem1{
    background-image: url(Pratyusha.JPG);
    background-size: cover;
}
.page4 .mem2{
    background-image: url(Sriparna.jpg);
    background-size: cover;
}
.page4 .mem3{
    background-image: url(Aisha.JPG);
    background-size: cover;
}
.page4 .mem4{
    background-image: url(Ayush.jpg);
    background-size: cover;
}
.page4 #mem #layer{
    height: 100%;
    width: 100%;
    border: 2px solid green;
    border-radius: 20px;
    background-color: greenyellow;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 10;
    opacity: 100;
}
#layer h4{
    font-family: gilroy;
    justify-content: center;
    font-size: xx-large;
    font-weight: 900;
    color: black;
}
#mem:hover #layer{
    opacity: 0;;
    transition: all ease 0.5s;
}
.bottom{
    width: 100%;
    height: 50vh;
    background-image: url(footerbg.png);
    background-size: cover;
    
}
.footer{
    width: 100%;
    display: flex;
    padding-top: 3%;
    justify-content: space-around;
    position: relative;
    
}
.footer h4{
    font-weight: 900;
    font-size: 120%;
    padding-bottom: 10px;
    z-index: 10;
}
.imp p{
    font-weight: 600;
    line-height: 25px;
    z-index: 10;
}
.AllMem{
    font-weight: 600;
    line-height: 25px;
    z-index: 10;
}
.Social{
    font-weight: 600;
    line-height: 25px;
    z-index: 10;
}
.social-icons{
    display: flex;
    justify-content: center;
    height: 40px;
    width: 100%;
    gap: 20px;
    margin-top: 30px;
}
#lastline{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-weight: 600;
}